*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
}
h2{
    color: #aac9ca;
    font-size: 2em;
    margin: 10px;
}
h1{
    font-size: 3em;
    color:aquamarine ;
}
#content{
   margin: auto;
}
.text{
    display: flex;
    color: black;
    justify-content: center;
}
.container{
    width: 1100px;
    height: 500px;
    margin-left: 15px;
    background-color:#aac9ca;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    align-items: center;
    margin: auto;
    border-radius: 5%;
    
 }
#item_1{
    width: 300px;
    height: 180px;
    margin-left: 50px;
    background-color: white;
    border: 1px solid black;
    border-top: 5px solid aqua;
    border-radius: 5%;
}
#item_4{
    align-items: flex-end;
    width: 300px;
    height: 180px;
    margin-left: 50px;
    background-color: white;
    border: 1px solid black;
    border-top: 5px solid aqua;
    border-radius: 5%;
    
}
.container2{
    width: 1100px;
    height: 700px;
    margin: 40px;
    /* border: 1px solid blue; */
    display:flex;
    flex-direction: column ;
    align-items: center;

}
#item_2, #item_3{
    width: 300px;
    height: 180px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid black;
    flex-direction:column;
    justify-content:space-around;
    border-top: 5px solid red;
    border-radius: 5%;

    

    
}
.container, strong{
    color: aqua;
    text-align: center;

}
p{
    display: flex;
    color: black;
    justify-content: flex-start;
    padding: 10px;
}
img{
    width: 50px;
    height: 60px;
    justify-content:flex-end;

}

